
$yellow: #ff0;
$red: #a30808;

@import "crosshair.scss";
//@import "_damageindicator.scss";
//@import "_hitindicator.scss";
//@import "_killfeed.scss";
//@import "_pickupfeed.scss";
//@import "_scoreboard.scss";

Label {
}

blhud {
    
}

.bottom-left, .bottom-right {
    mix-blend-mode: lighten;
    position: absolute;
    bottom: 100px;
}

iconpanel {
    font-family: "Material Icons";
}