crosshair {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX( -50% ) translateY( -50% );
	mix-blend-mode: lighten;
	width: 64px;
	height: 64px;
	background-image: url(ui/crosshair.png);
	background-size: contain;

}
