endresults {
    width: 100%;
    height: 100%;
    transition: opacity 0.2s linear;
    opacity: 1;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Chiller;
    flex-direction: column;
    background-color: rgba(0,0,0,0.75);
    position: absolute;

    .winnerText {
        font-size: 60%;
        text-align: center;
    }

    .players {
        font-size: 40%;
    }

    &.hide {
        opacity: 0;
    }

    .plrListEnd {
        flex-direction: column;
    }

    PlayerResultsList {
        Label {
            font-size: 32%;
            text-shadow: 2px 2px 1px rgba(0,0,0,0.8);
        }

        .name {
            min-width: 300px;
            padding: 4px;
        }

        .nameGame {
            min-width: 150px;
        }

        .ident {
            min-width: 200px;
        }

        .nameGame, .ident {
            border-left: 1px solid white;
            padding: 4px;
            padding-left: 24px;
        }
    }
}
