vitals {
    bottom: 0px;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: 30%;

    .HealthBar {
        align-items: flex-end;
        height: 256px;
        width: 256px;
    }

    .bar {
        transition: height 1s linear;
        width: 256px;
        transform: rotateX(180);

        &.human {
            background-image: url(ui/healthbar_human.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-repeat: no-repeat;
            background-size: 256px;
            background-position: top;
            //width: 256px;
        }

        &.vampire {
            background-image: url(ui/healthbar_vampire.png);
            background-repeat: no-repeat;
            background-size: 256px;
            background-position: top;
        }
    }
}
