vitals {
    bottom: 0px;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: 30%;

    .ident {
        text-align: center;
        color: white;
        font-size: 64px;
        right: 25px;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.8);
        font-weight: 700;
     }

    .HealthBar {
        align-items: flex-end;
        height: 256px;
        width: 256px;
    }

    .bar {
        transition: height 1s linear;
        width: 256px;
        transform: rotateX(180);

        &.human {
            background-image: url(ui/healthbar_human.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-size: 256px;
            background-position: top;
        }

        &.vampire {
            background-image: url(ui/healthbar_vampire.png);
            background-repeat: no-repeat;
            background-size: 256px;
            background-position: top;
        }
    }

    .bloodbar {
        opacity: 0;
        display: none;
        transition: height 1s linear;
        width: 256px;
        right: 32px;
        align-items: flex-end;

        .border {
            position: absolute;
            background-image: url(ui/bloodbar_border.png);
            background-repeat: no-repeat;
            background-size: 256px;
            background-position: top;
        }

        .blood {
            position: absolute;
            background-image: url(ui/bloodbar.png);
            background-repeat: no-repeat;
            background-size: 256px;
            background-position: top;
            width: 256px;
            height: 256px;
            transform: rotateX(180);
        }

        &.isVampire {
            display: flex;
            opacity: 1;
        }
    }

    .border {
        width: 256px;
        height: 256px;
        transform: rotateX(180);

        &.human {
            position: absolute;
            background-image: url(ui/healthbar_human_border.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-repeat: no-repeat;
            background-size: 256px;
            background-position: top;
        }

        &.vampire {
            position: absolute;
            background-image: url(ui/healthbar_vampire_border.png);
            background-repeat: no-repeat;
            background-size: 256px;
            background-position: top;
        }
    }
}
